<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-background">
        <a class="nav-link text-white active h5" th:href="@{/}">Home</a>
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active font-weight-bold" th:href="@{/cars/create}">Upload Car</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active font-weight-bold" th:href="@{/all}">All Cars</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>